<h2>New audio</h2>

<%= error_messages_for :audio %>

<% form_for(@audio, :html => { :multipart => true }) do |f| %>

  <p>
		<%= f.file_field :uploaded_data %><br />
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', audios_path %>
